{% extends 'base.html.twig' %}

{% block title %}Training index{% endblock %}

{% block index %}
    <h1>Training index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Naam</th>
                <th>Description</th>
                <th>Duur</th>
                <th>Kosten</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for training in trainings %}
            <tr>
                <td>{{ training.naam }}</td>
                <td>{{ training.description }}</td>
                <td>{{ training.duur }}</td>
                <td>{{ training.kosten }}</td>
                <td>
                    <a href="{{ path('admin_training_show', {'id': training.id}) }}">show</a>
                    <a href="{{ path('admin_training_edit', {'id': training.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('admin_training_new') }}">Create new</a>
{% endblock %}
